@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
body {
  background: #8d8d8d;
  font-family: "Russo One", sans-serif;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 5px solid orange;
  width: 660px;
  background-color: #b3b3b3;
  padding: 30px 10px;
  display: flex;
}
button {
  background: #8d8d8d;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 60px;
  font-size: 16px;
  box-shadow: black 3px 3px 5px;
  margin: 5px;
}
.left,
.right {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right {
  text-align: center;
  margin: 0;
}
.row {
  width: max-content;
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 3em;
  height: 1.5em;
  background-color: black;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.0625em;
  width: 1.375em;
  height: 1.375em;
  background-color: blue;
  transition: left 0.4s /*cubic-bezier(.65, 1.35, .5, 1)*/;
  .toggle-checkbox:checked + .toggle-container > & {
    left: 1.5625em;
  }
}

h4 {
  margin: 0;
}
.text {
  width: 170px;
  height: 20px;
  padding: 15px;
  background: #8d8d8d;
  margin: 15px auto;
}

.slider {
  -webkit-appearance: none;
  width: 240px;
  height: 5px;
  background: #101010;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: blue;
  cursor: pointer;
}
